<ul>
	<li style="display: inline;"><%= link_to 'Inicio', root_path %></li>
	<li style="display: inline;"><%= link_to 'Perfil', perfil_path %></li>
	<li style="display: inline;"><%= link_to 'Estacionamiento', estacionamiento_path %></li>
	<li style="display: inline;"><%= link_to 'Alquiler', alquiler_path %></li>
	<li style="display: inline;"><%= link_to 'Servicios', servicio_path %></li>
	<li style="display: inline;"><%= link_to 'Publicidad', publicidad_path %></li>
</ul>